[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/paul/Desktop/Foobar2000.desktop]
row=4
col=0

[bdf3d99c-15e6-45ca-bd8a-8cac7734f793]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/paul]
row=2
col=0

