[Xfce Panel]
Type=X-XFCE-PanelPlugin
Name=Audio Mixer
Comment=Adjust volume levels
Icon=multimedia-volume-control
X-XFCE-Internal=false
X-XFCE-Module=mixer
X-XFCE-Unique=true
X-XFCE-API=2.0

[Desktop Entry]
X-XFCE-Source=file:///usr/share/xfce4/panel/plugins/mixer.desktop
